body {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: inline-block;
  text-align: start;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
}
.ridge {
  border: thick ridge #4DA9B2;
  border-radius: 10px 20px 30px 40px;
  margin: 1.5em 1.5em;
} 
.border_box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 3vh;
  background-color: #ACF1F7;
  color: #5C7BBE; 
  padding: 0.5rem 2rem;
}
#ahorcado {
  height: 318px;
  width: 307px;
  background-image: url('./ahorcado.png');
}